.J-global-toolbar div a {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.submit-btn {
    font-size: 17px;
    letter-spacing: 3px;
}

.toolbar-wrap {
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 9990;
    width: 35px;
    height: 100%;
    background: #000;
}


/*
.toolbar-wrap a {
    text-decoration: none;
}*/

.toolbar {
    position: absolute;
    right: 5px;
    top: 0px;
    width: 29px;
    height: 100%;
}

.toolbar-panels {
    overflow: hidden;
    position: absolute;
    left: 29px;
    top: 0px;
    width: 270px;
    height: 100%;
    z-index: 2;
    background: #ECEAEA none repeat scroll 0% 0%;
    font-size: 12px;
}

.toolbar-panelff {
    padding: 0 0 0 12px;
    height: 100%;
}

.toolbar-panel {
    /*    padding:0 28px 0 12px;*/
    width: 270px;
    height: 100%;
    position: absolute;
    background: #ECEAEA none repeat scroll 0% 0%;
}

.tbar-panel-header {
    position: relative;
    width: 270px;
    height: 40px;
    line-height: 40px;
    background: #ECEAEA none repeat scroll 0% 0%;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
}

.tbar-panel-header .title {
    display: inline-block;
    height: 40px;
    color: #5E5050;
    font: 16px/40px "微软雅黑";
}

.tbar-panel-cart .tbar-panel-header i {
    width: 20px;
    height: 18px;
    background-position: 0px 0px;
    margin-top: 11px;
}

.tbar-panel-header i {
    margin-right: 4px;
    margin-left: 10px;
    vertical-align: top;
}

.tbar-panel-header i,
.tbar-panel-header .close-panel {
    display: inline-block;
    font-style: normal;
    background-image: url("../images/icons.png");
    background-repeat: no-repeat;
}

.tbar-panel-header .title em {
    display: inline-block;
    vertical-align: top;
}

.tbar-panel-header .close-panel {
    width: 12px;
    height: 12px;
    background-position: 0px -250px;
    position: absolute;
    right: 8px;
    top: 16px;
    cursor: pointer;
    transition: transform 0.2s ease-out 0s;
}

.tbar-panel-main {
    position: relative;
    margin: 0px;
    padding: 0px;
    color: #666;
    overflow: auto;
    /*height:700px;*/
}

.tbar-tipbox {
    display: block;
}

.tbar-panel-content {
    width: 270px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.tbar-tipbox .tip-inner {
    padding: 6px 5px;
    border: 1px solid #EDD28B;
    background: #FFFDEE none repeat scroll 0% 0%;
    text-align: center;
}

.tbar-tipbox .tip-text {
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    color: #333;
}

.tbar-tipbox .tip-btn {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0px 5px;
    margin-left: 5px;
    color: #FFF;
    vertical-align: middle;
    background: #C81623 none repeat scroll 0% 0%;
}

.tbar-panel-cart .tbar-panel-footer {
    height: 50px;
    background-color: #ECEAEA;
    margin: 0px;
    padding: 0px;
}

.tbar-checkout {
    height: 40px;
    padding: 5px 110px 5px 5px;
    position: relative;
}

.tbar-checkout .jtc-number strong {
    color: #C81623;
}

.tbar-checkout .jtc-number {
    line-height: 20px;
    font-size: 12px;
    line-height: 150%;
    color: #666;
}

.tbar-checkout .jtc-sum {
    line-height: 20px;
    font-size: 12px;
    line-height: 150%;
    color: #666;
}

.tbar-checkout .jtc-sum strong {
    color: #C81623;
}

.tbar-checkout .jtc-btn {
    position: absolute;
    right: 5px;
    top: 7px;
    width: 110px;
    height: 35px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    background: #C81623 none repeat scroll 0% 0%;
    color: #FFF;
}

.tbar-cart-list {
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    line-height: 150%;
}

.tbar-cart-item {
    padding: 0px 5px;
    margin-bottom: 10px;
    background: #FFF none repeat scroll 0% 0%;
}

.jtc-item-promo {
    padding: 12px 0px 12px 57px;
    border-bottom: 1px dashed #E1E1E1;
}

.jtc-item-promo .promo-tag {
    position: relative;
    float: left;
    width: 40px;
    height: 20px;
    margin-top: -1px;
    margin-left: -57px;
    margin-right: 17px;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    color: #FFF;
    background-color: #F58813;
}

.jtc-item-promo .promo-text {
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font: 12px/18px verdana;
}

.jtc-item-goods {
    padding: 10px 0px;
    position: relative;
    overflow: hidden;
}

.jtc-item-goods .p-img {
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #DDD;
    padding: 0px;
    margin-right: 5px;
}

.jtc-item-goods .p-img img {
    width: 50px;
    height: 50px;
}

img {
    border: 0px none;
    vertical-align: middle;
}

.jtc-item-goods .p-name {
    height: 32px;
    line-height: 16px;
    margin-bottom: 4px;
    overflow: hidden;
}

.jtc-item-goods .p-name a {
    color: #333;
}

.jtc-item-goods .p-price {
    height: 16px;
    padding-right: 65px;
    overflow: hidden;
    font: 12px/16px verdana;
    color: #666;
}

.jtc-item-goods .p-price strong {
    color: #C81623;
    font-weight: normal;
}

.jtc-item-goods .p-del {
    position: absolute;
    right: 10px;
    top: 46px;
    width: 35px;
    height: 16px;
    line-height: 16px;
    color: #005AA0;
    text-align: right;
    display: none;
}

.jt-history-wrap {
    width: 235px;
    margin: 0px auto;
}

.tbar-panel-history ul {
    overflow: hidden;
    /*margin-right: -15px;*/
    margin-top: 0px;
    list-style: outside none none;
    padding: 0px;
}

.tbar-panel-history .tbar-panel-header i {
    width: 20px;
    height: 17px;
    margin-top: 11px;
    background-position: 0px -100px;
}

.tbar-panel-follow .tbar-panel-header i {
    width: 20px;
    height: 17px;
    margin-top: 11px;
    background-position: 0px -50px;
}

.tbar-panel-history .jth-item {
    float: left;
    position: relative;
    width: 100px;
    height: 120px;
    margin-right: 15px;
    background: #FFF none repeat scroll 0% 0%;
    margin-bottom: 15px;
    padding: 5px;
}

.tbar-panel-history .jth-item .img-wrap {
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    margin-bottom: 5px;
}

.tbar-panel-history .jth-item .add-cart-button {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    display: none;
    position: absolute;
    width: 100px;
    bottom: 25px;
    left: 5px;
    z-index: 3;
    color: #FFF;
    background: rgba(28, 25, 28, 0.8) none repeat scroll 0% 0%;
}

.tbar-panel-history .jth-item .price {
    color: #C81623;
}

.tbar-panel-history .history-bottom-more {
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
}


/*-----  */

.toolbar-header {
    position: absolute;
    top: 0px;
    right: -6px;
}

.toolbar-tabs {
    position: absolute;
    top: 40%;
    left: 0px;
    width: 35px;
    margin-top: -61px;
}

.toolbar-tab {
    position: relative;
    width: 35px;
    height: 44px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 3px 0px 0px 3px;
    font-size: 12px;
    line-height: 150%;
    color: #fff;
    display: inline-block;
    background-repeat: no-repeat;
}

.tbar-tab-cart {
    background-position: -50px 0px;
    margin-top: 16px;
}

.tbar-tab-follow {
    background-position: -50px -50px;
}

.tbar-tab-history {
    background-position: -50px -100px;
}

.tab-ico {
    width: 34px;
    height: 35px;
    margin-left: 1px;
    position: relative;
    z-index: 2;
}

.tab-text {
    width: 70px;
    height: 44px;
    line-height: 44px;
    color: #FFF;
    text-align: center;
    position: absolute;
    z-index: 1;
    left: 35px;
    top: 0px;
    background-color: #7A6E6E;
    border-radius: 3px 0px 0px 3px;
    transition: left 0.3s ease-in-out 0.1s;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
    padding-right: 26px;
}

.tab-sub {
    position: absolute;
    z-index: 3;
    right: 2px;
    top: -5px;
    height: 11px;
    padding: 1px 2px;
    border: 1px solid #B61D1D;
    overflow: hidden;
    color: #FFF;
    font: 11px/11px verdana;
    text-align: center;
    min-width: 11px;
    border-radius: 10px;
    background-color: #CC6060;
    background-image: linear-gradient(to bottom, #CC6060 0px, #B61D1D 100%);
}

.hide {
    display: none;
    ;
}

.toolbar-footer {
    position: absolute;
    bottom: 20px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    line-height: 150%;
}

.toolbar-footer a {
    display: inline-block;
}

.tbar-tab-top {
    background-position: -50px -250px;
}

.tbar-tab-feedback {
    background-position: -50px -300px;
}

.footer-tab-text {
    width: 50px;
    height: 35px;
    line-height: 35px;
    color: #FFF;
    text-align: center;
    position: absolute;
    z-index: 1;
    left: 35px;
    top: 0px;
    background-color: #7A6E6E;
    border-radius: 3px 0px 0px 3px;
    transition: left 0.3s ease-in-out 0.1s;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.tbar-tab-hover {
    left: -60px;
    background: #e45050;
}


/*额外*/

.tbar-tab-click-selected {
    background: #E45050;
}

.tbar-tab-footer-hover {
    left: -48px;
    background-color: #C81623;
}

.tbar-tab-selected .tab-sub {
    color: #C81623;
    background-color: #FFF;
    background-image: linear-gradient(to bottom, #FFF 0px, #FFF 100%);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
}

.tbar-tab-click-selected .tab-sub {
    color: #C81623;
    background-color: #FFF;
    background-image: linear-gradient(to bottom, #FFF 0px, #FFF 100%);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
}

.survey-tab-ico {
    display: none;
}

.survey-tab-text {
    left: 0px;
    width: 35px;
    height: 30px;
    padding: 2px 0px 3px;
    line-height: 15px;
    background: #C81623 none repeat scroll 0% 0%;
    color: #FFF;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 0px;
    border-radius: 3px 0px 0px 3px;
    transition: left 0.3s ease-in-out 0.1s;
    font-style: normal;
    margin: 0px;
    cursor: pointer;
}

.toolbar-open {
    right: 265px;
}

.J-close:hover {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.tbar-panel-history .jth-item .add-cart-button:hover {
    background: rgb(200, 22, 35) none repeat scroll 0% 0%;
}

.allresult .icon-iconjiantouyou {
    font-size: 14px !important;
    margin: 0 10px;
}

.cr_xie .icon-tabcart {
    position: absolute;
    left: 3px;
    top: 1px;
    font-size: 16px !important;
}

.bbc_div .icon-huanyipi {
    font-size: 26px !important;
    font-weight: normal !important;
    position: relative;
    top: 4px;
    right: 4px;
}