/* 内容部分通用表格样式 */

.ncsc-default-table {
    line-height: 20px;
    width: 100%;
    border-collapse: collapse;
    clear: both;
    font-size: 12px;
}

.ncsc-default-table thead th {
    line-height: 20px;
    color: #999;
    background-color: #FFF;
    text-align: center;
    height: 20px;
    padding: 8px 0;
    border-bottom: solid 1px #DDD;
    font-size: 12px;
    font-weight: 100;
}

.ncsc-default-table thead td,
.ncsc-default-table tfoot th {
    background-color: #FFF;
    height: 22px;
    padding: 5px 0;
    border-bottom: solid 1px #E6E6E6;
}

.ncsc-default-table tfoot th {
    border-top: solid 1px #E6E6E6;
}

.ncsc-default-table thead td label,
.ncsc-default-table tfoot th label {
    color: #555;
    display: inline;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.ncsc-default-table tbody th {
    background-color: #FAFAFA;
    border: solid #E6E6E6;
    border-width: 1px 0;
    padding: 4px 0;
}

.ncsc-default-table tbody th span {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}

.ncsc-default-table tbody th span.goods-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 240px;
    height: 20px;
    overflow: hidden;
}

.ncsc-default-table tbody td {
    color: #999;
    background-color: #FFF;
    text-align: center;
    padding: 10px 0;
    font-size: 12px;
    font-weight: 100;
}

.ncsc-default-table tbody td strong {
    color: #666;
}

.ncsc-default-table td .pic-thumb {
    line-height: 0;
    background-color: #FFF;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    *display: block;
    width: 32px;
    height: 32px;
    border: solid 1px #F5F5F5;
    overflow: hidden;
}

.ncsc-default-table td .pic-thumb img {
    max-width: 32px;
    max-height: 32px;
    margin-top: expression(32-this.height/2);
    *margin-top: expression(16-this.height/2)/*IE6,7*/
;
}

.ncsc-default-table td .goods-name {
    border: none;
}

.ncsc-default-table td .goods-name dt {
    font-size: 12px;
    line-height: 16px;
    color: #333;
    text-overflow: ellipsis;
    display: block;
    text-align: left;
    max-width: 320px!important;
    padding-bottom: 4px;
    overflow: hidden;
}

.ncsc-default-table td .goods-name dt span {
    line-height: 16px;
    color: #FFF;
    background-color: #999;
    display: inline-block;
    *display: inline/*IE7*/
;
    height: 16px;
    padding: 1px 4px;
    margin-right: 2px;
    *zoom: 1;
    box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.25);
    cursor: default;
}

.ncsc-default-table td .goods-name dt span.type-virtual {
    background-color: #3598DC;
}

.ncsc-default-table td .goods-name dt span.type-fcode {
    background-color: #9C59B8;
}

.ncsc-default-table td .goods-name dt span.type-presell {
    background-color: #1ABC9D;
}

.ncsc-default-table td .goods-name dt span.type-appoint {
    background-color: ;
}

.ncsc-default-table td .goods-name dt a:hover {
    color: #DA542E;
}

.ncsc-default-table td .goods-name dd {
    line-height: 16px;
    display: block;
    height: 16px;
}

.ncsc-default-table td .goods-name .goods-cti {
    font-size: 0;
    *word-spacing: -1px/*IE6、7*/
;
}

.ncsc-default-table td .goods-name .goods-cti span {
    vertical-align: top;
    letter-spacing: normal;
    word-spacing: normal;
    display: inline-block;
    *display: inline/*IE7*/
;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    *zoom: 1;
}

.ncsc-default-table td .goods-name .goods-cti span img {
    max-width: 16px;
    max-height: 16px;
}

.ncsc-default-table td .sale-type {
    color: #FFF;
    background-color: #ff875a;
    display: inline-block;
    clear: both;
    padding: 2px 5px;
    margin: 5px auto 0 auto;
}

.ncsc-default-table td .goods-name dd.serve {
    height: 18px;
    padding-top: 2px;
}

.ncsc-default-table td .goods-name dd.serve span {
    color: #555;
    vertical-align: middle;
    display: inline-block;
    *display: inline/*IE7*/
;
    margin-right: 6px;
    position: relative;
    z-index: 1;
    *zoom: 1;
    cursor: default;
}

.ncsc-default-table td .goods-name dd.serve i {
    font-size: 18px;
    line-height: 20px;
}

.ncsc-default-table td .goods-name dd.serve i.commend {
    font-size: 12px;
    background-color: #CCC;
    color: #FFF !important;
    line-height: 16px;
    text-align: center;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 2px;
}

.ncsc-default-table td .goods-name dd.serve .open i {
    color: #3598DC;
}

.ncsc-default-table td .goods-name dd.serve .open i.commend {
    background-color: #E84C3D;
}

.ncsc-default-table td .goods-name dd.serve span .QRcode {
    background: #F5F5F5;
    display: none;
    width: 160px;
    padding: 5px;
    border: solid 1px #CCC;
    position: absolute;
    z-index: 99;
    top: -90px;
    right: -170px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.ncsc-default-table td .goods-name dd.serve span .QRcode a {
    line-height: 20px;
    display: block;
    text-align: right;
}

.ncsc-default-table td .goods-name dd.serve span .QRcode p {
    line-height: 0;
    background-color: #FFF;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    *display: block;
    width: 160px;
    height: 160px;
    overflow: hidden;
}

.ncsc-default-table td .goods-name dd.serve span .QRcode img {
    max-width: 160px;
    max-height: 160px;
    margin-top: expression(160-this.height/2);
}

.ncsc-default-table td .goods-name dd.serve span:hover .QRcode {
    display: block;
}

.tl {
    text-align: left !important;
}

.toast-title {
    font-weight: bold;
}

.toast-message {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    color:#fff;
}

.toast-message a,
.toast-message label {
    color: #ffffff;
}

.toast-message a:hover {
    color: #cccccc;
    text-decoration: none;
}

.toast-close-button {
    position: relative;
    right: -0.3em;
    top: -0.3em;
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    -webkit-text-shadow: 0 1px 0 #ffffff;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.8;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}

.toast-close-button:hover,
.toast-close-button:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.4;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=40);
    filter: alpha(opacity=40);
}

button.toast-close-button {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.toast-top-full-width {
    top: 0;
    right: 0;
    width: 100%;
}

.toast-bottom-full-width {
    bottom: 0;
    right: 0;
    width: 100%;
}

.toast-top-left {
    top: 12px;
    left: 12px;
}

.toast-top-right {
    top: 12px;
    right: 12px;
}

.toast-bottom-right {
    right: 12px;
    bottom: 12px;
}

.toast-bottom-left {
    bottom: 12px;
    left: 12px;
}

#toast-container {
    position: fixed;
    z-index: 999999;
    /*overrides*/
}

#toast-container * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#toast-container > div {
    margin: 0 0 6px;
    padding: 15px 15px 15px 50px;
    width: 300px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    background-position: 15px center;
    background-repeat: no-repeat;
    -moz-box-shadow: 0 0 12px #999999;
    -webkit-box-shadow: 0 0 12px #999999;
    box-shadow: 0 0 12px #999999;
    color: #ffffff;
    opacity: 0.8;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}

.w50 {
    width: 50px !important;
}

#toast-container >:hover {
    -moz-box-shadow: 0 0 12px #000000;
    -webkit-box-shadow: 0 0 12px #000000;
    box-shadow: 0 0 12px #000000;
    opacity: 1;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    filter: alpha(opacity=100);
    cursor: pointer;
}

#toast-container > .toast-info {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-error {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important;
}

#toast-container > .toast-success {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important;
}

#toast-container > .toast-warning {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important;
}

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
    width: 96%;
    margin: auto;
}

.toast {
    background-color: #030303;
}

.toast-success {
    background-color: #51a351;
}

.toast-error {
    background-color: #bd362f;
}

.toast-info {
    background-color: #2f96b4;
}

.toast-warning {
    background-color: #f89406;
}

/*
.tabmenu ul li a {
    font: 14px/33px "microsoft yahei";
    color: #999;
    background: #AAA;
    display: inline-block;
    height: 33px;
    padding: 0 10px;
    line-height: 33px;
}
*/

.ncsc-path {
    font-size: 12px;
    line-height: 20px;
    background-color: #FFF;
    line-height: 20px;
    color: #555;
    padding: 10px;
    border-bottom: solid 1px #F5F5F5;
}

#toast-container {
    position: fixed;
    z-index: 999999;
    height: 51px;
    overflow: hidden;
}