<!DOCTYPE html>
<html class="um landscape min-width-240px min-width-320px min-width-480px min-width-768px min-width-1024px">
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../../css/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/ui-box.css">
    <link rel="stylesheet" href="../../css/ui-base.css">
    <link rel="stylesheet" href="../../css/ui-color.css">
    <link rel="stylesheet" href="../../css/appcan.icon.css">
    <link rel="stylesheet" href="../../css/appcan.control.css">
    <link rel="stylesheet" href="../../css/chat.css">
</head>
<body class="um-vp bc-bg" ontouchstart>
<!--content开始-->
<div id="content" class="ub-f1 tx-l">
    <div id="showFriends">
    </div>
</div>
<script type="text/javascript" src="../../script/jquery-1.11.2.min.js"></script>
<script src="../../script/jquery.cookie.js" type="text/javascript"></script>
<script type="text/javascript" src="../../script/chat.js"></script>
<script>
    function showFriends() {
        var tmpl = "<li class='ubb ub bc-border t-bla ub-ac lis' data-index='0' onclick='goMember(${id}, \"${title}\")'>"
                + "<ul class='ub ub ub-ver'>"
                + "<li><div class='lis-icon ub-img' style='background-image:url(${icon})'></div>"
                + "<div class='ulev-1 bc-text umar-t'></div>"
                + "</li></ul><ul class='ub-f1 ub ub-pj ub-ac'>"
                + "<ul class='ub-f1 ub ub-ver marg-l'>"
                + "<li class='bc-text ub ub-ver ut-m line1'>${title}</li>"
                + "<li class='ulev-1 sc-text1 uinn3 font-cor'>${describe}</li>"
                + "</ul></ul></li>"

        var d = document.createElement('ul');
        d.className = "clearfix";
        d.innerHTML = tmpl;
        $('#showFriends')[0].appendChild(d);
    }

    $(document).ready(function()
    {
        showFriends();
    });
</script>
</body>
</html>
