.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	display: inline-block;
	cursor: pointer;
	background: #00b7ee;
	padding: 10px 15px;
	color: #fff;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
}
.upload-image {
    background-color: #48CFAE !important;
    cursor: pointer;
    line-height: 33px !important;
    height: 33px !important;
    padding: 0 12px !important;
    border-radius: 2px;
    font: normal 12px/20px "microsoft yahei", arial;
    color: #FFF;
    display:inline-block;
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

