
.hide {
	display: none
}

.btn-img,
.button {
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0;
	text-align: center;
	cursor: pointer
}

body {
	font-size: 12px;
	font-family: "微软雅黑";
	color: #666;
	background: #fff;
	_background-image: url(about:blank);
	_background-attachment: fixed
}
input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset
}
#login_content{
	height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index:9999;
}

.form .item {
	position: relative;
	margin-bottom: 20px;
	z-index: 1
}

.form .item .placeholder {
	position: absolute;
	left: 50px;
	top: 10px;
	line-height: 18px;
	color: #999;
	font-size: 14px;
	-webkit-transition: all .2s ease-out;
	-moz-transition: all .2s ease-out;
	transition: all .2s ease-out;
	opacity: 1
}

.form .item .login-label {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 38px;
	height: 38px;
	border-right: 1px solid #bdbdbd;
}
.form .item .name-label{
	background:#e3e3e3 url(../images/user.png) no-repeat center;
}
.form .item .pwd-label{
	background:#e3e3e3 url(../images/password.png) no-repeat center;
}
.form .item:hover {
    border-color: #75ebcd;
}

.form .item-fore5 {
	margin-bottom: 10px;
	width:100%;
}

.form .item-fore1,
.form .item-fore2 {
	border: 1px solid #bdbdbd;
	/* height: 38px; */
	width: 100%;
	padding: 0;
	border-radius: 3px;
	position: relative;
	box-sizing: border-box;
}
.item-fore1 input,.item-fore2 input{
	padding-left:50px;
	width:100%;
	box-sizing: border-box;
	border:none;
	line-height: 38px;
	height:38px;
}

.form .item-fore1 .clear-btn,
.form .item-fore2 .clear-btn {
	position: absolute;
	z-index: 20;
	right: 6px;
	top: 12px;
	width: 14px;
	height: 14px;
	background: url(../images/pwd-icons-new.png) -25px -143px no-repeat;
	cursor: pointer;
	display: none
}

.form .item-fore1 .clear-btn:hover,
.form .item-fore2 .clear-btn:hover {
	background-position: -50px -143px
}

.form .item-fore1 .capslock,
.form .item-fore2 .capslock {
	position: absolute;
	z-index: 4;
	display: none;
	width: 106px;
	top: 28px;
	left: 50px;
	padding-left: 26px;
	height: 26px;
	line-height: 28px;
	overflow: hidden;
	background: url(../images/capslock.png) no-repeat
}

.form .item-fore1 .capslock b,
.form .item-fore2 .capslock b {
	display: block;
	position: absolute;
	top: 7px;
	left: 10px;
	width: 10px;
	height: 14px;
	overflow: hidden;
	background: url(../images/pwd-icons-new.png) -104px -133px no-repeat
}

.form .itxt {
	line-height: 18px;
	height: 18px;
	border: 0;
	padding: 10px 0 10px 50px;
	width: 254px;
	float: none;
	overflow: hidden;
	font-size: 14px;
	font-family: '\5b8b\4f53';
	*margin: -1px 0 0;
	border-radius: 5px;
}

.form .itxt02 {
	padding: 10px 5px;
	width: 78px;
	text-align: center
}

.form .verify-code {
	cursor: pointer;
	width: 100px;
	height: 33px;
	vertical-align: middle
}

.form .item-vcode .placeholder {
	left: 25px
}

.form input::-webkit-input-placeholder {
	color: #999;
	font-size: 14px
}

.form input:-moz-placeholder {
	color: #999;
	font-size: 14px
}

.form label {
	float: none
}

.form .yfcheckbox,
.form .yfradio {
	float: none;
	vertical-align: middle;
	_vertical-align: -1px;
	margin: 0 3px 0 0;
	padding: 0
}

.form .item-fore1 {
	z-index: 6
}

.form .item-fore2 {
	visibility: hidden
}

.form .item-fore3 {
	z-index: 5;
	margin-bottom: 15px
}

.login-form {
	position: relative;
	z-index: 4;
	background: #fff;
	overflow: visible;
	width:346px;
}

.login-form .login-tab {
	height: 54px;
	line-height: 54px;
	font-size: 18px;
	border-bottom: 1px solid #f4f4f4;
	background: #fff;
	display: block;
	padding:0 20px;
}
.login-form .login-tab a:focus {
	outline: 0!important;
	-moz-outline: 0!important
}
.login-form .login-tab-r {
	width: 100%;
	box-sizing:border-box;
}

.login-form .login-tab-link {
	display: inline-block
}

.login-form .msg-wrap {
	min-height: 31px;
	height: auto!important;
	height: 31px;
	margin: 2px 0 5px
}

.login-form .msg-error {
	position: relative;
	background: #ffebeb;
	color: #e4393c;
	border: 1px solid #faccc6;
	padding: 3px 10px 3px 40px;
	line-height: 18px;
	min-height: 18px;
	_height: 18px
}

.login-form .msg-error b {
	position: absolute;
	top: 50%;
	left: 10px;
	display: block;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: url(../images/pwd-icons-new.png) -104px -49px no-repeat
}

.login-form .msg-warn {
	position: relative;
	background: #fff6d2;
	color: #666;
	border: 1px solid #ffe57d;
	padding: 3px 10px 3px 40px;
}

.login-form .msg-warn b {
	position: absolute;
	top: 50%;
	left: 10px;
	display: block;
	margin-top: -8px;
	width: 16px;
	height: 17px;
	overflow: hidden;
	background: url(../images/pwd-icons-new.png) -104px -22px no-repeat
}

.login-form .login-box {
	width: 100%;
	padding: 20px 20px 0;
	visibility: hidden;
	box-sizing: border-box;
}

.login-form .login-box .mt {
	display: inline-block;
	display: block;
	width: 306px;
	overflow: visible;
	height: 27px;
}

.login-form .login-box .mt:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html .login-form .login-box .mt {
	height: 1%
}

*+html .login-form .login-box .mt {
	min-height: 1%
}

.login-form .login-box .mt h1 {
	position: relative;
	height: 27px;
	line-height: 27px;
	top: -5px;
	float: left;
	color: #666;
	font-family: "microsoft yahei";
	font-size: 20px
}

.login-form .login-box .tab-h {
	height: 42px
}

.login-form .login-box .mc {
	overflow: visible
}

.login-form .login-box .safe {
	position: relative;
	color: #666
}

.login-form .login-box .safe span {
	margin-right: 15px
}

.login-form .login-box .safe .forget-pw-safe {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0
}

.login-form .login-box .reg-free {
	height: 18px;
	*margin-bottom: 5px
}

.login-form .login-box .login-btn {
	/*border: 1px solid #cb2a2d;*/
	margin: 0 auto;
	position: relative
}

.login-form .login-box .login-btn .btn-img {
	border: 1px solid #e85356;
	display: block;
	width: 100%;
	background: #e4393c;
	line-height: 32px;
	color: #fff;
	font-size: 20px;
	font-family: 'Microsoft YaHei'
}

.login-form .login-box .login-btn .btn-img:hover {
	text-decoration: none
}

.login-form .coagent {
	display: none;
	padding-left: 20px;
	padding-right: 20px;
	height: auto;
	width: 100%;
	visibility: hidden;
	box-sizing: border-box;
}

.login-form .coagent h5 {
	font-weight: 400;
	color: #999
}

.login-form .coagent ul {
	display: inline-block;
}

.login-form .coagent ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .login-form .coagent ul {
	height: 1%
}

*+html .login-form .coagent ul {
	min-height: 1%
}

.login-form .coagent li {
	float: left
}

.login-form .coagent li .line {
	color: #ccc;
	padding: 0 10px
}

.login-form .coagent .more-slide {
	position: relative;
	z-index: 5;
	overflow: visible
}

.login-form .coagent .more-slide dt {
	color: #666;
	position: relative;
	z-index: 2;
	_top: 5px
}

.login-form .coagent .more-slide dt b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 9px;
	height: 6px;
	margin-left: 10px;
	overflow: hidden;
	vertical-align: middle;
	background: url(../images/pwd-icons-new.png) -104px -100px no-repeat
}

.login-form .coagent .more-slide dd {
	position: absolute;
	z-index: 1;
	top: -3px;
	left: -15px;
	display: none;
	height: 40px;
	width: 203px;
	padding: 25px 0 10px 15px;
	border: 1px solid #dcdcdc;
	background: #fff;
	overflow: hidden
}

.login-form .coagent .more-slide dd a {
	float: left;
	white-space: nowrap;
	margin-right: 15px;
	color: #999
}

.login-form .coagent .more-slide dd a:hover {
	margin-right: 15px;
	color: #E4393C;
	text-decoration: underline
}

.login-form .coagent .more-hover dt b {
	background-position: -104px -116px
}

.login-form .coagent .more-hover dd {
	display: block
}

.login-form .coagent .more-slide-new dd {
	width: 153px;
	height: 62px;
	overflow: hidden
}

.login-form .coagent .more-slide-new dd a,
.login-form .coagent .more-slide-new dd a:hover {
	margin-right: 28px
}

.login-form .coagent .more-slide-new .dd-cont {
	width: 175px
}

.login-form .qr-coagent {
	background-color: #fdfdfd;
	font-family: "microsoft yahei";
	color: #999
}

.login-form .qr-coagent li {
	width: 102px;
	text-align: left;
	position: relative
}
.login-form .qr-coagent li .faster {
	background-position: -27px
}

.login-form .qr-coagent li .more-safe {
	background-position: -54px
}

.login-form .qr-coagent li em {
	padding-left: 55px
}

.login-form li.extra-r {
	float: right
}

.login-form .regist-link {
	color: #b61d1d;
	font-size: 14px
}

.login-form .regist-link a {
	color: #b61d1d
}

.login-form .regist-link b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: url(../images/pwd-icons-new.png) -104px -75px no-repeat;
	vertical-align: middle;
	margin-right: 5px
}

. .login-form .btn-2login {
	background-position: 0 -60px
}

.login-form .qlogin-main .qlogin-tit {
	text-align: center;
	font-size: 14px;
	margin-top: 20px
}

.login-form .qlogin-main .qlogin-tit span {
	font-family: arial
}

.login-form .qlogin-main .qlogin-tit .qq-icon {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 16px;
	overflow: hidden;
	vertical-align: middle;
	background: url(../images/pwd-icons-new.png) -104px -157px;
	margin-right: 10px
}

.login-form .qlogin-main .coagent {
	margin-top: 20px
}
.login-wrap-content{
	height:100%;
}
.login-wrap {
	position: relative;
	margin: 10px auto 20px;
	z-index: 5;
	max-width: 990px;
}

.login-wrap .i-inner {
	position: relative;
	z-index: 3;
}

.login-form {
	margin:auto;
	width:346px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-173px;
	margin-top:-183px;
}

.form #o-authcode.item {
	border: 0
}

.form #o-authcode.item .itxt {
	border: 1px solid #bdbdbd;
	font-size: 14px;
	padding: 7px 5px;
	vertical-align: middle
}

.form #o-authcode.item-error {
	border: 0
}

.form #o-authcode.item-error .itxt {
	border-color: #e4393c
}

.form #o-authcode.item-focus {
	border: 0
}

.form #o-authcode.item-focus .itxt {
	border-color: #3aa2e4
}

.disp {
	display: none !important;
}

.titlea {
	line-height:30px;
}

@media screen and (max-width: 768px) {
	.login-wrap .login-banner {
		background: #fff !important;
	}
	.login-wrap .login-form {
		float: none;
		width: 60%;
		margin: 0 auto;
		right: 0;
		border: 1px solid #e1e1e1;
	}
	.login-wrap {
		background: #fff;
	}
	.login-form .msg-wrap {
		display: none;
	}
	.disp {
		display: block!important;
	}
	.contM {
		float: left;
		display: block;
		width: 30%;
		float: left;
		display: block;
		width: 30%;
		position: absolute;
		right: 0;
		top: 0;
	}
	.contM img {
		width: 100%;
		height: 40px;
	}
	.yzm {
		width: 70% !important;
		float: left !important;
	}
}
@media screen and (max-width: 630px){
	.login-wrap .login-form{
		width:76%;
	}
}

.mask{
	width: 100%;
    height: 100%;
    display: block;
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;

}
.btn-close{
	width:20px;
	height:20px;
	display:block;
	position:absolute;
	right:6px;
	top:10px;
	font-size:20px;
	text-align:center;
	color:#999;
}

.login-form .coagent li {
    float: left;
    margin-right: 20px;
    width: 26px;
    height: 26px;
}
.coagent li.qq{
	background: url(../images/wap-qq.png) no-repeat center;
	background-size:contain;
}
.coagent li.wb{
	background: url(../images/wap-WeChat.png) no-repeat center;
	background-size:contain;
}
.coagent li.wx{
	background: url(../images/wap-weibo.png) no-repeat center;
	background-size:contain;
}
.back-to-regist{
	line-height: 40px;
    margin-top: 13px;
    color: #888;
    font-size: 14px;
    width:auto;
}
.login-form .login-tab a.checked {
    text-decoration: none;
    line-height: 40px;
    margin-top: 13px;
    display: inline-block;
    border-bottom: 2px solid #e4393c;
}
 
.tip-area{width:300px;background:#fff;padding:50px 0 20px;position:relative;margin:auto;overflow:hidden;}
.tip-area h5{font-size:14px;position:absolute;left:-25px;top:-24px;background:#00a3ee;color:#fff;padding: 30px 20px 6px 40px;font-weight:normal;border-radius:26px;letter-spacing:3px;}
.tip-area h5 span{width:16px;height:16px;display:inline-block;background:url(../images/icon-tip.png) no-repeat;vertical-align:middle;margin-right:6px;}
.tip-area .tip-cont{padding:30px 0;text-align:center;color:#333;}
.tip-area .btn-sure{ text-decoration:none; float:right;line-height:26px;border:1px solid #999;padding:0 10px;margin-right:30px;color:#333;border-radius:2px;font-size:14px;}
.tip-area .btn-sure:hover{color:#00a3ee;border-color:#00a3ee;} 

.tip .btn-close{
	  text-decoration: none;
    line-height: 26px;
    border: 0;
    padding: 5px 10px;
    margin-right: 0px;
    color: #333;
    border-radius: 2px;
    font-size: 14px;
    margin-top: 5px;
}
a.btn-close{position:absolute;right:0px;top:-70px;width:32px;height:80px;display:inline-block;background:url(../images/icon-closes.png) no-repeat;background-size:cover;cursor:pointer;}
/*a.btn-close:hover{background:url(../images/icon-close-hov.png) no-repeat;background-size:cover;transition:0.3s;}*/
.relative{position:relative;display: inline-block;}
.tip{
	width:100%;text-align:center;z-index:999;font-size:16px;padding:50px 0;
	position:absolute; 
	left:50%; 
	top:50%; 
	width: 300px;
  height: 200px;
	margin-left:-150px;
	margin-top:-100px;
}